.detailContainer{
    position: relative;
}

.detailImage{
    position: absolute;
    background-color: black;
    left: 33%;
    width: 400px;
    height: auto;
}

.detailImage img{
    width: 350px;
    height: 250px;
}

.detailH4, .detailH2, .detailP{
    color: white;
}

.detailP, .detailH4{
    margin:15px;
}
