.formContainer {
    margin-top: 20px;
    padding: 10px;
    width: 420px;
    height: auto;
    align-items: center;
    /* display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto); */
}

.formName{
    /* grid-column: 3;
    grid-row: 1; */
}

.formScore{
    /* grid-column: 3;
    grid-row: 2; */
}

.formHealthScore{
    /* grid-column: 3;
    grid-row: 3; */
}

.formImage{
    /* grid-column: 3;
    grid-row: 4; */
}

.formSteps{
    /* grid-column: 3;
    grid-row: 5; */
    /* width: 390px;
    justify-content: center; */
}

.formSummary{
    /* grid-column: 4;
    grid-row: 1; */
    /* width: 390px; */
}

.formDishTypes{
    /* grid-column: 4;
    grid-row: 2; */
    display: inline-block;
}

.formDiets{
    /* grid-column: 4;
    grid-row: 3;*/
    /* display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap; */
} 
/* 
input{
    display:inline-block;
} */

label{
    display:block;
}

.formA{
    display: block;
    color:black;

}

textarea{
    resize: none;
}