.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vh;
    background-color: var(--primary-color);
}

.container p{
    color: var(--secondary-color);
    font-weight: bold;
    margin-right: 1vw;
}

.container a{
    color: var(--secondary-color);
    width: 50px;
    margin-right: 1vw;
}

.container a:hover{
    border-bottom: 1px solid var(--secondary-color);
}


