.recipeCard{
    background-color: black;
    border: transparent;
    border-radius: 5px;
    width: 350px;
    margin: 10px;
}

.recipeCard img {
    width: 100%;
    height: 250px;
}

.recipeP {
    display: inline-block;
    margin: 10px;
    color: white;
}

h3 {
    margin: 10px;
    color: white
}

h4 {
    margin: 10px;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

a:hover{
    font-size: 20px;
}
